<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>

	  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link rel="stylesheet" href="css/styles.css">
	  <title>Project 3</title>
	</head>
	<body>

	  <h1>Hello World</h1>

	  <div id="container">
	    <!-- REACT APP GOES HERE -->
	  </div>

	  <script src='../public/js/bundle.js'></script>
	</body>
</html>
