<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	  <link rel="stylesheet" href="css/styles.css">
	  <link rel="stylesheet" href="css/skeleton.css">

	  <title>Plantee</title>
	</head>


	<body id="mainbody">


	  <div id="container">
	    <!-- REACT APP GOES HERE -->
	  </div>

	  <script src="bundle.js"></script>
	</body>
</html>
